body, #img-area {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5 !important;
  text-decoration-color:
}

#grid, #grid2 {
  padding: 0;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}
