body, #img-area {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5 !important;
  text-decoration-color:
}

#grid, #grid2 {
  padding: 0;
}

.landing-header {
  width: 100vw;
  height: 5vh;
  overflow: hidden;
  font-size: 1em;
}
.mdl-card__title {
  max-height: 50vh;
}
#image-note h2, #middle-text h2, #quiz-q h2 {
  font-size: 10vmax;
  margin: 0;
}
#image-note {
  max-height: 15vh;
}
