<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Palpiction</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/lib/bower_components/mdl/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
</head>
<body>

  <div class="container">
    <div id="content">
      <div class="mdl-layout mdl-layout--fixed-header
                  mdl-layout--fixed-tabs">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Palpiction</span>
          </div>
        </header>
      </div>

      <div class="mdl-container mdl-grid">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell--12-col section--center">
          <div class="mdl-card mdl-cell mdl-cell--12-col section--center">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text" role="alert">Error!</h2>
            </div>
            <div class="mdl-card__supporting-text">
              <h6 role="alert">You refreshed the page or navigated to a page that doesn't exist. Click the button below to start over.</h6>
            </div>
            <div class="mdl-card__actions">
               <a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--accent-contrast mdl-cell mdl-cell--12-col section--center">
                 Start Over
               </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <script src="/static/lib/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/static/lib/bower_components/mdl/material.min.js"></script>
</body>
</html>
