<!doctype html>
<html lang="en" ng-app="AngularFlask">
<base href="/index.html">
<head>
	<meta charset="utf-8">
	<title>Palpiction - Web</title>
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/lib/bower_components/mdl/material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
</head>
<body>

	<div class="container">
		<div id="content" ng-view></div>
	</div>

	<script src="/static/lib/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/static/lib/bower_components/requirejs-plugins/lib/require.js"></script>
	<script src="/static/lib/bower_components/angular/angular.min.js"></script>
	<script src="/static/lib/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="/static/lib/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/static/lib/bower_components/mdl/material.min.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
 	<script src="/static/js/services.js"></script>
	<script src="/static/js/directives.js"></script>
	<script src="/static/js/filters.js"></script>
</body>
</html>
