<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Palpiction Web</span>
    </div>
  </header>
</div>

<div class="mdl-container mdl-grid">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col section--center">
      <div class="mdl-card__supporting-text">
        <h4>Thanks for Participating</h4>
        You're all done. Feel free to ask us questions directly if you have any.
      </div>
      <div class="mdl-card__actions">
        <a href="/" class="buttons mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--accent-contrast mdl-cell mdl-cell--2-col">
          Return Home
        </a>
      </div>
    </div>
  </section>
</div>
