<!-- <span> -->
<span style="display: none">
   <img id="id1">
</span>

<!-- http://stackoverflow.com/questions/5451135/embed-svg-in-svg -->
<!-- http://www.sitepoint.com/tips-accessible-svg/ -->
<!-- https://www.paciellogroup.com/blog/2013/12/using-aria-enhance-svg-accessibility/ -->
<div id= "grid" class="mdl-grid">
  <div id="img-area" class="mdl-cell mdl-cell--12-col">
    <svg id="image-area" aria-label="image">
    </svg>
  </div>
  <button id="next-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell mdl-cell--12-col" ng-click="next()">
    Next
  </button>
</div>
