<!-- <span> -->
<span style="display: none">
   <img id="id1">
</span>

<!-- http://stackoverflow.com/questions/5451135/embed-svg-in-svg -->
<!-- http://www.sitepoint.com/tips-accessible-svg/ -->
<!-- https://www.paciellogroup.com/blog/2013/12/using-aria-enhance-svg-accessibility/ -->
<div id= "grid" class="mdl-grid">
  <!-- {{allObjects}} -->
  <div id="image-note" class="mdl-card__title image-note">
    <h2 role="alert" class="mdl-card__title-text">Image: Scroll once through all the objects. Then explore the image area below with touch.</h2>
  </div>
  <div id="img-area" class="mdl-cell mdl-cell--12-col">
    <svg id="image-area" aria-label="image">
    </svg>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell mdl-cell--12-col" ng-click="next()">
    Next
  </button>
<!--   <a id="next-button" class="large expanded button" ng-click="next()">
    Next
  </a> -->
</div>

<script type="text/javascript">
$(function() {
    while( $('#image-note h2').height() > $('.mdl-card__title').height() ) {
      $('#image-note h2').css('font-size', (parseInt($('#image-note h2').css('font-size')) - 1) + "px" );
    }
});
</script>
