<!-- <span> -->
<span style="display: none">
   <img id="id1">
</span>

<!-- http://stackoverflow.com/questions/5451135/embed-svg-in-svg -->
<!-- http://www.sitepoint.com/tips-accessible-svg/ -->
<!-- https://www.paciellogroup.com/blog/2013/12/using-aria-enhance-svg-accessibility/ -->
<div>
  <svg id="image-area" aria-label="image">
<!--       <svg aria-label="polygon" role="img">
        <polygon points="10 10, 50 50, 75 175, 175 150, 175 50, 225 75, 225 150, 300 150" fill="red" stroke="#000"/>
      </svg>

      <svg aria-label="rect" role="img">
        <rect width="75" height="50" rx="20" ry="20" fill="#90ee90" stroke="#228b22" stroke-fill="1" />
      </svg> -->
  </svg>
</div>
