<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Palpiction</span>
    </div>
  </header>
</div>

<div class="mdl-container mdl-grid">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell--12-col section--center">
    <div class="mdl-card mdl-cell mdl-cell--12-col section--center">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Welcome to Palpiction</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <h6>The following interface guides you through a series of image.</h6>
        <h6>For each image, touch the image area. When you touch an identified object, it will be read out. For a full list of image objects to be read out, touch the 'Hover for All Objects' area. When you are comfortable with the contents in the image, select the 'Next' button.</h6>
        <h6><b><emph>IMPORTANT: Please turn on a Accessibility screenreader before using (eg. VoiceOver or Talkback). Please do not refresh this page at any point in time.</b></emph></b>
      </div>
      <div class="mdl-card__actions">
        <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--accent-contrast mdl-cell mdl-cell--12-col section--center" ng-click="go()">
          Start Palpiction
        </a>
      </div>
    </div>
  </section>
</div>
