<div class="mdl-container mdl-grid">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell--12-col section--center">
    <div class="mdl-card mdl-cell mdl-cell--12-col section--center">
      <div id="quiz-q" class="mdl-card__title">
        <h2 class="mdl-card__title-text">Select 1 of the captions below by pressing the button belonging to the caption that best describes the image you just explored.</h2>
      </div>
      <div class="mdl-card__actions">
        <div ng-repeat="cap in captions track by $index">
          <a class="large expanded button" ng-click="next($index)">
            Option {{$index + 1}}: {{cap}}
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
$(function() {
    while( $('#quiz-q h2').height() > $('.mdl-card__title').height() ) {
      $('#quiz-q h2').css('font-size', (parseInt($('#quiz-q h2').css('font-size')) - 1) + "px" );
    }
});
</script>
