<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Palpiction</span>
    </div>
  </header>
</div>

<div class="mdl-container mdl-grid">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell--12-col section--center">
    <div class="mdl-card mdl-cell mdl-cell--12-col section--center">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Select 1 of the 3 captions below by pressing the button belonging to the caption that best describes the image you just explored.</h2>
      </div>
      <div class="mdl-card__actions">
        <div ng-repeat="cap in captions">
<!--           <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-cell mdl-cell--12-col" ng-click="next($index)">
            Option {{$index + 1}}: {{cap}}
          </button> -->
          <a class="large expanded button" ng-click="next($index)">
            Option {{$index + 1}}: {{cap}}
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
